/* Estilização dos botões de baixar e resetar o meme */

.button-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 3rem;
}

.button-row {
  display: flex;
  justify-content: center;
  width: 100%;
  
}


.button {
  min-width: 200px;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.upload-button-profile,
.upload-button-post {
  background-color: #4a90e2;
  color: white;
}

.download-button {
  background-color: #4CAF50;
  color: white;
}

.reset-button {
  background-color: #f44336;
  color: white;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(0);
}

/* Responsividade */
@media (max-width: 640px) {
  .button-group {
    flex-direction: column;
    align-items: center;
    width: 0; /* Alterado de 50% para 0 */
  }

  .button {
    width: 100%; /* Botões ocupam toda a largura disponível */
    font-size: 0.9rem; /* Tamanho da fonte reduzido para telas menores */
  }
}

/* Para telas ainda menores */
@media (max-width: 480px) {
  .button {
    width: 50%; /* Um pouco maior para telas muito pequenas */
    font-size: 0.8rem;
    padding: 0 1px; /* Reduzido para telas menores */
  }
}
